<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsc.backend.mapper.OrderBaseMapper" >
  <resultMap id="BaseResultMap" type="com.nsc.backend.entity.OrderBase" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="order_payTime" property="orderPaytime" jdbcType="TIMESTAMP" />
    <result column="order_distributionTime" property="orderDistributiontime" jdbcType="TIMESTAMP" />
    <result column="order_endTime" property="orderEndtime" jdbcType="TIMESTAMP" />
    <result column="order_state" property="orderState" jdbcType="INTEGER" />
    <result column="order_totalAcount" property="orderTotalacount" jdbcType="DOUBLE" />
    <result column="order_freight" property="orderFreight" jdbcType="DOUBLE" />
    <result column="order_reightRisk" property="orderReightrisk" jdbcType="DOUBLE" />
    <result column="invoice" property="invoice" jdbcType="TINYINT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
 		<!-- 封装交易信息 -->
 		<association property="trade" javaType="com.nsc.backend.entity.TradeTable">
			<id column="tradeTable_id" property="tradetableId"/>
			<result column="tradeTable_method" property="tradetableMethod"/>
			<result column="tradeTable_number" property="tradetableNumber"/>
			<result column="tradeTable_merchantNumber" property="tradetableMerchantnumber"/>
			<result column="tradeTable_BillingClassification" property="tradetableBillingclassification"/>
			<result column="tradeTable_merchantName" property="tradetableMerchantname"/>
		</association>
		<!-- 封装地址信息 -->
		<association property="address" javaType="com.nsc.backend.entity.Address">
			<id column="add_id" property="addId"/>
			<result column="add_userName" property="addUserName"/>
			<result column="add_postalCode" property="addPostalCode"/>
			<result column="add_county" property="addCounty"/>
			<result column="add_province" property="addProvince"/>
			<result column="add_city" property="addCity"/>
			<result column="add_detailInfo" property="addDetailInfo"/>
			<result column="add_nationalCode" property="addNationalCode"/>
			<result column="add_tele" property="addTele"/>
		</association>
		<!-- 封装用户信息 -->
		<association property="user" javaType="com.nsc.backend.entity.User">
			<id column="user_id" property="userId"/>
			<result column="user_openId" property="userOpenId"/>
			<result column="user_nickName" property="userNickName"/>
		</association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    order_id, order_number, order_time, order_payTime, order_distributionTime, order_endTime, 
    order_state, order_totalAcount, order_freight, order_reightRisk, invoice, note
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_base
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  
  <!-- 根据订单编号查找订单信息 -->
  <select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="String" >
    select order_base.*,trade_table.*
    from order_base , user , address , trade_table
    where order_number = #{orderNumber,jdbcType=VARCHAR} 
          and order_base.user_id=user.user_id 
          and order_base.add_id=address.add_id 
          and order_base.tradeTable_id=trade_table.tradeTable_id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_base
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.nsc.backend.entity.OrderBase" >
    insert into order_base (order_id, order_number, order_time, 
      order_payTime, order_distributionTime, 
      order_endTime, order_state, order_totalAcount, 
      order_freight, order_reightRisk, user_id, 
      invoice, note)
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{orderPaytime,jdbcType=TIMESTAMP}, #{orderDistributiontime,jdbcType=TIMESTAMP}, 
      #{orderEndtime,jdbcType=TIMESTAMP}, #{orderState,jdbcType=INTEGER}, #{orderTotalacount,jdbcType=INTEGER}, 
      #{orderFreight,jdbcType=DOUBLE}, #{orderReightrisk,jdbcType=DOUBLE}, #{userId,jdbcType=INTEGER}, 
      #{invoice,jdbcType=TINYINT}, #{note,jdbcType=VARCHAR})
  </insert>
  
  <!-- 插入一条新的订单信息 -->
  <insert id="insertSelective" parameterType="com.nsc.backend.entity.OrderBase" >
    <selectKey resultType="Integer" order="AFTER" keyProperty="orderId">
          SELECT LAST_INSERT_ID()
      </selectKey>
    insert into bookstore.order_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderPaytime != null" >
        order_payTime,
      </if>
      <if test="orderDistributiontime != null" >
        order_distributionTime,
      </if>
      <if test="orderEndtime != null" >
        order_endTime,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="orderTotalacount != null" >
        order_totalAcount,
      </if>
      <if test="orderFreight != null" >
        order_freight,
      </if>
      <if test="orderReightrisk != null" >
        order_reightRisk,
      </if>
      <if test="user != null" >
        user_id,
      </if>
      <if test="address !=null">
		add_id,
	  </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="note != null" >
        note,
      </if>
       <if test="trade !=null">
		tradeTable_id,
	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPaytime != null" >
        #{orderPaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDistributiontime != null" >
        #{orderDistributiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndtime != null" >
        #{orderEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="orderTotalacount != null" >
        #{orderTotalacount,jdbcType=INTEGER},
      </if>
      <if test="orderFreight != null" >
        #{orderFreight,jdbcType=DOUBLE},
      </if>
      <if test="orderReightrisk != null" >
        #{orderReightrisk,jdbcType=DOUBLE},
      </if>
      <if test="user !=null">
		#{user.userId ,jdbcType=INTEGER},
	  </if>
	  <if test="address !=null">
		#{address.addId,jdbcType=INTEGER},
	  </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="trade !=null">
		#{trade.tradetableId,jdbcType=INTEGER},
	  </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.nsc.backend.entity.OrderBase" >
    update order_base
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPaytime != null" >
        order_payTime = #{orderPaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDistributiontime != null" >
        order_distributionTime = #{orderDistributiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndtime != null" >
        order_endTime = #{orderEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="orderTotalacount != null" >
        order_totalAcount = #{orderTotalacount,jdbcType=INTEGER},
      </if>
      <if test="orderFreight != null" >
        order_freight = #{orderFreight,jdbcType=DOUBLE},
      </if>
      <if test="orderReightrisk != null" >
        order_reightRisk = #{orderReightrisk,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=TINYINT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  
 <!-- 更改支付状态 -->
  <update id="updateorderStateByPrimaryKey"  >
    update order_base
    set 
      <!-- order_payTime = #{orderPaytime,jdbcType=TIMESTAMP}, -->
      order_state = #{1}
    where order_id = #{0}
  </update>
</mapper>